# Adzuna API Configuration
# Get credentials at: https://developer.adzuna.com/
ADZUNA_APP_ID=e32abc45
ADZUNA_APP_KEY=2f399e6c8053279f69c699c1f3744bea
# Get key at https://groq.com/
GROQ_API_KEY=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

